<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xym.dao.BookMapper">

    <insert id="addBook">
        insert into book(id, name, price, author, image, description, category_id)
        values(#{id},#{name},#{price},#{author},#{image},#{description},#{category.id})
    </insert>

    <resultMap id="myBook" type="book">
        <id column="id" property="id"/>
        <association property="category" select="com.xym.dao.CategoryMapper.findCategoryById" column="category_id"/>
    </resultMap>

    <select id="findBookById" resultMap="myBook">
        select * from book where id=#{id}
    </select>

    <select id="findBookByCategory" parameterType="queryinfo" resultMap="myBook">
        select * from book
        <where>
            <if test="name != null and name != ''">
                name=#{name}
            </if>
            <if test="author != null and author != ''">
                and author=#{author}
            </if>
            <if test="categoryId != null and categoryId != ''">
                and category_id=#{categoryId}
            </if>
        </where>
        <if test="sort !=null and sort !=''">
--             排序必须使用$
            order by ${sort} ${order}
        </if>
        limit #{startIndex}, #{pageSize}
    </select>

    <select id="getTotalRecord" resultType="int">
        select count(*) from book
        <where>
            <if test="categoryId != null and categoryId != ''">
                category_id=#{categoryId}
            </if>
        </where>
    </select>

    <select id="getAllBook" resultMap="myBook">
        select * from book
    </select>

</mapper>